.container.about-container#about
    .row
        .col-12
            h3.title.text-left.section-title.section-title-about.text-center Who I am
        span.section-division
        .col-12.col-md-12.col-lg-4
            h3 I was born in 
                span Tingub, 
                | for more than a decade I am living in
                span  Mandaue.
    
        .col-12.col-md-6.col-l 
            p   Hello, I am James a Tingub based senior high school
  

        .col-12.col-md-6.col-lg-4
            p 
            
        span.section-division    
